.item {
  height: 180px;
  width: 268px;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.item h3 {
  text-align: center;
  margin-bottom: 0;
}
.item p {
  text-align: center;
  opacity: 0.5;
}
.item:hover h3 {
  color: red;
}
.item:hover button{
    display:inline-block
}
.item button {
    width: 152px;
    height: 34px;
    border-radius: 20px;
    background-color: black;
    color:white;
    align-self: center;
    display: none;
    cursor: pointer;
}
